@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url(constants.css);

*
{
    padding: 0;
    margin: 0;
    border: 0;
}

body
{
    min-height: 100vh;

    display: grid;
    place-items: center;

    padding: var(--spacing-1000) 0;

    background-color: var(--navy-950);
}

main
{
    display: flex;

    flex-direction: column;

    gap: var(--spacing-1000);
}

/* Text classes */

.paragraph
{
    font-family: 'Rubik', sans-serif;
    font-size: var(--paragraph-size);
    line-height: 110%;
    font-weight: 300;

    color: var(--navy-200);
}

.header
{
    font-family: 'Rubik', sans-serif;
    font-size: var(--header-size);
    line-height: 150%;
    font-weight: 300;

    color: white;
}

.time
{
    font-family: 'Rubik', sans-serif;
    font-size: var(--time-size);
    line-height: 150%;
    font-weight: 300;

    color: white;
}

.bold
{
    font-size: var(--bold-size);
    font-weight: 500;

    color: white;
}

.checked
{
    color: white;
}

/* SettingsUI */

#settingsUI
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

/* Person name */
#name
{
    z-index: 1;

    display: flex;

    margin-bottom: calc(-1 * var(--spacing-400));

    align-items: center;
    justify-content: center;

    padding: var(--spacing-400);
    gap: var(--spacing-200);

    border: 0;
    border-radius: 15px;

    background-color: var(--purple-600);
}

.photo img
{
    width: 64px;
    height: auto;

    aspect-ratio: 1/1;

    border: 3px solid white;
    border-radius: 50%;
}

#name h1::before
{
    content: "Report for";

    display: flex;

    align-items: center;
    justify-content: start;

    line-height: 110%;

    color: var(--navy-200);
    font-size: var(--paragraph-size);
    font-weight: 300;
}

/* Changing the time period */

#settingsUI > .time-buttons
{
    z-index: 0;

    padding: var(--spacing-700) var(--spacing-200) var(--spacing-400);

    justify-content: space-around;
}

.time-buttons *
{
    transition: 0.1s color;
}

.time-buttons *:hover
{
    cursor: pointer;
    color:white;
}

/* Card widget */
/*             */
/* Card class */

.card
{
    /* margin-top: 10%; */
    position: relative;

    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: space-between;

    gap: var(--spacing-100);

    border: 0;
    border-radius: 15px;

    width: 18rem;
    height: min-content;

    padding: var(--spacing-300) var(--spacing-200);

    background-color: var(--navy-900);
}

.card > *
{
    flex: 0 1 auto;
}

.card[data-field]::before
{
    content: url(../images/icon-exercise.svg);

    display: flex;

    align-items: center;
    justify-content: end;

    position: absolute;
    z-index: -1;

    top: -30%;
    left: 0;
    right: 0;

    width: calc(100% - 2* var(--spacing-200));

    min-height: var(--spacing-1000);
    height: max-content;

    padding: 0 var(--spacing-200);

    border: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    background-color: green;
}

#work::before
{
    content: url(../images/icon-work.svg);
    background-color: var(--orange-300);
}

#play::before
{
    content: url(../images/icon-play.svg);
    background-color: var(--blue-300);
}

#study::before
{
    content: url(../images/icon-study.svg);
    background-color: var(--pink-400);
}

#exercise::before
{
    content: url(../images/icon-exercise.svg);
    background-color: var(--green-400);
}

#social::before
{
    content: url(../images/icon-social.svg);
    background-color: var(--purple-700);
}

#self-care::before
{
    content: url(../images/icon-self-care.svg);
    background-color: var(--yellow-300);
}

/* Card header class */

.card-header
{
    flex: 1 0 100%;

    display: flex;

    align-items: center;
    justify-content: space-between;
}

.settings
{
    width: var(--spacing-400);
    height: 0.625rem;

    background: url(../images/icon-ellipsis.svg) no-repeat center;
}

/* Media query */
/*             */
/* Desktop query */

@media (min-width: 72rem) 
{
    :root
    {
        --header-size: 2.5rem;
        --time-size: 4rem;
    }

    body
    {
        padding: 0;
    }

    main
    {
        padding: 0 var(--spacing-1000);

        display: grid;

        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);

        place-items: center;

        column-gap: var(--spacing-400);
        row-gap: var(--spacing-400);
    }
    
    .card
    {
        width: 15rem;
        height: fit-content;

        margin-top: 20%;

        flex-direction: column;
        justify-content: center;
        align-items: start;
    }

    .card-header
    {
        width: 100%;
    }

    #settingsUI 
    {
        width: min-content;

        grid-row-start: 1;
        grid-row-end: 3;

        grid-column-start: 1;
        grid-column-end: 1;
    }

    #name
    {
        width: 100%;
        height: 100%;

        gap: var(--spacing-400);

        padding: var(--spacing-400) var(--spacing-400) var(--spacing-1000);

        margin-bottom: calc(-1 * var(--spacing-400));

        flex-direction: column;
        align-items: start;
    }

    .photo img
    {
        width: 6rem;
    }

    #settingsUI > .time-buttons
    {
        margin-top: 0;
        width: 100%;
        gap: var(--spacing-400);

        padding: var(--spacing-700) var(--spacing-400) var(--spacing-400);
    }
}